/* ConDatos style */

chocoreta = #00a3a1

a:link, a:active, a:visited, a:hover, a:focus
  text-decoration none
  color chocoreta

header
  &.app-header
    background-color #4a4b5c

.proposal-options
  .vote-options
    .vote-option
      &.vote-no
        background #ff5a50
        &:hover
          background #960400
      &.vote-yes
        background #78c800
        &:hover
          background #00a3a1


